
<html>
  <head>
    <meta charset="utf-8">
    <title>dojo form </title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename="mystyle.css") }}">
  </head>
  <body>
    <h1> there is a form here </h1>
    <form action="">
      <p>First Name:</p><br>
      <input type="text" name="firstname" value="Mickey">
      <br>
      <p>Last name:</p><br>
      <input type="text" name="lastname" value="Mouse"
      <br><br>
      <input type="submit" value="Submit">
    </form>
  </body>
</html>
