<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Login Registration Assignment</title>
    {% load staticfiles %}
    <link rel="stylesheet" href="{%static '/LogReg/css/styles.css'%}">
    <link rel="stylesheet" href="{%static '/LogReg/css/materialize.css'%}">
  </head>
  <body>

    <div class="container row">
      {% for message in messages %}
      <p class="materialize-red-text">{{message}}</p>
      {% endfor %}
      <h2>Login</h2>

      <form class="col s6" action="/login" method="post">
         {% csrf_token %}
         <input type="text" name="email" value="" placeholder="E-Mail">
         <input type="password" name="password" placeholder="Password">
         <button type="submit" name="submit">Login</button>
      </form>
    </div>

    <div class="container row">
      <h2>Register</h2>
      <form class="col s6" action="/register" method="post">
         {% csrf_token %}
         <input type="text" name="first_name" value="" placeholder="First Name">
         <input type="text" name="last_name" value="" placeholder="Last Name">
         <input type="text" name="email" value="" placeholder="E-Mail">
         <input type="password" name="password" placeholder="Password">
         <input type="password" name="cpassword" placeholder="Confirm Password">
         <button type="submit" name="submit">Submit</button>
      </form>
    </div>

  </body>
</html>
